/**general**/

.container {
    background-color: tan;
}

img {
    max-width: 100%;
}


h1,
h2 {
    text-align: center;
    font-family: "Nanum Pen Script", cursive;
    color: #5e2506;
    font-size: 40px;
}

h4 {
    font-style: italic;
    font-family: 'Zain', sans-serif;
    font-weight: lighter;
    color: #5e2506;
    text-align: center;
}

ul {
    text-align: center;
    font-family: "Zain", sans-serif;
    color: #5e2506;
}

tr {
    text-align: center;
    font-family: "Zain", sans-serif;
    color: #5e2506;

}

footer {
    text-align: center;
    padding: 3rem;
}


/**universal/reoccuring details**/
.banner {
    max-width: 100%;
}


/*mobile view*/
/**nav bar area**/
.logo {
    width: 20%;
    margin-left: 1.0rem;
}


nav {
    position: fixed;
    top: 0.5rem;
    right: 2rem;
    color: white;
    z-index: 99999999;
}


nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

nav li {
    list-style-type: none;
}

.toggle:hover {
    cursor: pointer;
    color: #F27935;
}

.item {
    display: none;
}

.item a {
    color: #5e2506;
    font-size: 20px;
    background-color: white;
    padding: 0.5rem 1.5rem;
    display: inline-block;
    /**code from w3 schools**/
    text-decoration: none;
}

.item a:hover {
    background-color: rgb(231, 215, 185);
    color: white;
}

.item.show {
    display: block;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: tan;
    margin-bottom: 0;
}

/**home page**/

.header-title {
    text-align: center;
    background-color: beige;
    max-width: 100%;
    margin: 0;
    padding: 1.5rem;

}

.header-img {
    height: 40%;
    max-width: 100%;
}

.extra {
    display: none;
}

.general {
    padding-bottom: 3rem;
}

.description {
    padding: 2rem;
    background-color: beige;
    border-radius: 10px;
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(91, 36, 4, 0.329);
}


.cappuchino {
    width: 100%;
    height: auto;
    margin-bottom: 0rem;
}

.cat-and-coffee-section {
    background-color: beige;
    margin-top: 0px;
    padding-bottom: 3rem;
}

.combo-header {
    padding-top: 3rem;
}

.combo-text {
    padding: 2rem;
    background-color: tan;
    border-radius: 10px;
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4rem;
    box-shadow: 0 4px 8px rgba(91, 36, 4, 0.329);

}

.meet-our-cats-header {
    font-family: "Nanum Pen Script", cursive;
    color: white;
    font-size: 35px;
    text-shadow: 0 4px 8px rgba(22, 9, 1, 0.768);
}

.booking {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.booking-text {
    padding: 2rem;
    background-color: beige;
    border-radius: 10px;
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(91, 36, 4, 0.329);

}

.cat-of-month {
    background-color: beige;
}

.strawbery-matcha {
    display: flex;
    justify-content: center;

}

.text {
    padding: 2rem;
    background-color: tan;
    border-radius: 10px;
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-top: 2rem;
    box-shadow: 0 4px 8px rgba(91, 36, 4, 0.329);
    font-size: 30px;
}

.siamese {
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.drink-image {
    max-width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.meet-the-cats {
    position: relative;
    text-align: center;
    color: white;

}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/**https://www.w3schools.com/howto/howto_css_image_text.asp**/

.cats-link {
    display: inline-block;
    padding: 20px 32px;
    background-color: white;
    color: #5e2506;
    text-align: center;
    font-size: 20px;
    font-family: 'Zain', sans-serif;
    border-radius: 7px;
}

.cats-link:hover {
    background-color: beige;
}

/**dessert menu page ***/

#desserts .container {
    background-color: beige;
    padding-bottom: 4rem;
}

.doodle {
    width: 50%;
    margin: 2rem auto;
    display: flex;
}

.menu-general {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: tan;
}


.menu-general a {
    color: #5e2506;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 2rem;
}

.menu-general a:hover {
    color: white;
}

.table {
    display: flex;
    justify-content: space-evenly;
    margin-left: 1rem 0;
    background-color: white;
    border-radius: 10px;
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-top: 2rem;
    box-shadow: 0 4px 8px rgba(91, 36, 4, 0.329)
}

.table-details {
    display: flex;
    justify-content: center;
    border-collapse: separate;
    border-spacing: 3rem 1rem;
    text-align: center;
    margin: 0 auto;
    max-width: 70%;
}

.table-header {
    font-family: "Zain", sans-serif;
    font-size: 20px;
    color: #5e2506;
}



.bulk {
    background-color: beige;
}

/**drinks menu**/
#drinks .container {
    background-color: beige;
    padding-bottom: 4rem;
}

.coffeebrewing {
    margin-left: 1rem;
}

.drink {
    font-weight: bolder;
}

/**our cats page**/

.ourcatcontainer {
    background-color: beige;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: 1rem auto;

}

.ourcatdescription {
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(91, 36, 4, 0.329);

}

.maocontainer {
    padding-bottom: 2rem;
}

.kitty {
    width: 50%;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    border-radius: 10%;
}

.catinfo {
    padding: 2rem;
    background-color: tan;
    border-radius: 10px;
    max-width: 70%;
    text-align: center;
    margin: 2rem auto;
    box-shadow: 0 4px 8px rgba(91, 36, 4, 0.329);
}

/**about**/
#about .container {
    padding-bottom: 4rem;
}


.exterior {
    width: 100%;
    /* or a specific width */
    height: auto;
}

.mission {
    margin: 2rem 2rem;
}

.missionstatement {
    text-align: center;
    font-size: 30px;

}

.maomeaning {
    background-color: beige;
    padding: 2rem;
}

.meaning-text {
    font-size: 30px;
    margin: 2.5rem 4rem;
}

.inspo {
    padding: 2rem;

}

.moon {
    width: 70%;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    border-radius: 50%;

}

.most-text {
    width: 70%;
    margin: 4rem auto;
    background-color: beige;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(91, 36, 4, 0.329);
    border-radius: 10px;
}

/**typography***/

h1 {
    font-family: "Nanum Pen Script", cursive;
    font-size: 60px;
    margin: 2rem;
    text-align: center;
}

p {
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #5e2506;

}

span {
    font-weight: bold
}


/*media queries for responsive design**/
@media(min-width:769px) {

    .header-container {
        width: 100%;
    }

    .header-img {
        width: 100%;
    }

    .logo {
        max-width: 10%;
        height: auto;
    }

    .siamese {
        display: flex;
        flex-direction: row;
        width: 50%;
        height: auto;
    }

    .mochi {
        margin: 4rem;
        padding: 5rem;
        font-size: 30px;
    }

    .strawberry-matcha {
        display: flex;
        flex-direction: column;
    }


    .drink-image {
        display: flex;
        align-self: center;
        width: 50%;
        height: auto;
    }

    .menu-general {
        background-color: none;
    }

    .menu-navbar {
        width: 30%;
        margin: 2rem auto;
        border-radius: 10px;
        padding: 1rem 0rem;
    }

    .meaning-text {
        margin: 2.5rem 10rem;
        font-size: 30px;
    }

    .banner {
        display: flex;
        justify-content: center;
    }

}


@media (min-width: 1200px) {
    .logo {
        width: 7%;
        height: auto;
    }

    .header-img {
        width: 100%;
        height: auto;
    }

    .banner {
        padding: 3rem;
        display: flex;
        justify-content: center;
    }


    .general {
        display: flex;
        flex-direction: row;
    }

    .general-header {
        font-size: 100px;
        padding: 4rem;
    }

    .description {
        font-size: 40px;
        width: 70%;
        margin-right: 4rem;

    }

    .cat-and-coffee-description {
        margin: 10rem auto;
        margin-bottom: 20rem;
        padding: 3rem auto;
    }

    .combo-text {
        padding: 4rem;
    }

    .cat-of-month {
        display: flex;
        flex-direction: row;
    }

    .siamese {
        width: 25%;
        height: auto;
        margin: 6rem;
    }

    .text {
        margin: 4rem;
        padding: 5rem;
        font-size: 30px;
    }

    .com {
        font-size: 60px;
    }

    .strawberry-matcha {
        display: flex;
        flex-direction: row-reverse;
    }

    .drink-image {
        width: 25%;
        height: auto;
        margin: 6rem;

    }

    .rule {
        font-size: 30px;
        max-width: 600px;
        margin: 0 auto;
        text-align: left
    }

    /**desserts page**/
    .doodle {
        width: 30%;
        margin: 2rem auto;
        display: flex;
        justify-content: center;
    }


    .menu-navbar {
        width: 30%;
        margin: 2rem auto;
        border-radius: 10px;
    }

    .table {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .maocontainer {
        margin: 4rem;

    }

    .kittyphoto {
        width: 100%;
        height: auto;
        margin-top: 3rem;
    }

    .catsection {
        display: flex;
        flex-direction: row;
    }

    .catsectionreverse {
        display: flex;
        flex-direction: row-reverse;
    }

    .catname {
        margin-top: 6rem;
    }

    .kitty {
        width: 25%;
        height: auto;
        margin: 6rem;
    }

    .catinfo {
        margin: 3rem 4rem;
    }

    .infofont {
        font-size: 20px;
    }

    .exterior {
        width: 100%;
        height: auto;
    }

    .missionstatement {
        margin: 2.5rem 10rem;
    }

    .meaning-text {
        margin: 2.5rem 10rem;
    }

    .moon {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    footer {
        display: flex;
        flex-direction: row;
        gap: 5rem;
        justify-content: center;
    }

    p {
        font-size: 30px;
    }
}